<p-toast></p-toast>

<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{editando ? 'Edição de ': 'Novo '}} Evento</h1>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <h3 >Nome</h3>
        <input pInputText type="text" name="nome"
          [(ngModel)]="evento.nome" #nome="ngModel" required minlength="3">

        <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
        <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>

        <h3 >Cidade</h3>
        <input pInputText type="text" name="cidade"
          [(ngModel)]="evento.cidade" #idade="ngModel">

        <h3>Data</h3>
        <input pInputText type="date" name="data" [(ngModel)]="evento.data" #nome="ngModel" required minlength="10">
      </div>

        <h3 class="first">Escolha as categorias</h3>
        <p-listbox [options]="categorias" [(ngModel)]="selectedCategorias" multiple="multiple" checkbox="checkbox" filter="filter"  name="cates"
         #cates="ngModel">
         <p-footer>
          Selected: {{selectedCategorias | json}}
         </p-footer>
        </p-listbox>

       <!-- [(ngModel)]="atleta.equipe" #equipe="ngModel">-->

      <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
          <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" [routerLink]="['eventos/novo']"></button>
          <a routerLink="/eventos">Voltar para a pesquisa</a>
      </div>


    </div>
  </form>
</div>
